PORT=5003
MONGO_URI=mongodb://localhost:27017/pulse_incidents
INTERNAL_API_KEY=
USER_SERVICE_URL=http://localhost:5002
ALERT_SERVICE_URL=http://localhost:5004
NOTIFICATION_SERVICE_URL=http://localhost:5001
